<nav class="tablet">
      <div>
        <h4 class="tablet">Quotes <span>♥</span></h4>
        <i class="fa fa-bars"></i>
      </div>
      <ul class="ul2">
        <li class="li2"><a class="a2" href="https://quotes-maker.herokuapp.com/ ">Home</a></li>
        <li class="li2"><a class="a2" href="https://quotes-maker.herokuapp.com/ ">Love quotes</a></li>
        
      </ul>
    </nav>